<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Player API Tests" parallel="methods" thread-count="3" verbose="1">

    <test name="Player Tests">

        <classes>
            <class name="com.player.tests.CreatePlayerTest"/>
            <class name="com.player.tests.GetPlayerTest"/>
            <class name="com.player.tests.GetAllPlayersTest"/>
            <class name="com.player.tests.UpdatePlayerTest"/>
            <class name="com.player.tests.DeletePlayerTest"/>
        </classes>

    </test>

</suite>
